* {
  box-sizing: border-box;
  --top_padding: 30px;
  --custom_grey: #e2e8f0;
  --custom_blue: #1992d4;
}
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: 100vw;
}
/*SIDE BAR*/
.sidebar-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 60px;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.8);
  z-index: 2;
  padding-top: var(--top_padding);
  background-color: var(--custom_blue);
}
.sidebar-container > div > img {
  filter: invert();
}
#dashbord-icon {
  width: 60px;
  margin-right: 20px;
  margin-left: 20px;
}
.nav > img,
.misc > img {
  width: 40px;
  margin-right: 30px;
  margin-left: 30px;
}
.header,
.nav,
.misc {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  row-gap: 10px;
}
.header > h1 {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.header {
  padding: 0;
}
/*HEADER*/
.right-side {
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.heading {
  padding-top: var(--top_padding);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 3fr 1fr;
  padding: 0 80px 0;
  row-gap: 20px;
}
.content-container {
  background-color: var(--custom_grey);
}
.search {
  display: flex;
  --searchbar_height: 30px;
  align-items: center;
}
.search > img,
#bell {
  width: 25px;
  height: var(--searchbar_height);
  margin-right: 20px;
}
#search-bar {
  width: 60%;
  height: var(--searchbar_height);
  background-color: var(--custom_grey);
  border-radius: 30px;
  border-style: none;
  cursor: 100px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile #profile-pic {
  height: 60px;
  border-radius: 100%;
}
.greeting {
  display: flex;
  align-items: center;
}
.greeting > img {
  height: 60px;
  border-radius: 100%;
}
/* visual aid */
.heading > div {
  border: solid black;
}
